.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}

.columns.columns4 {
  background: var(--background-color);
  padding: 48px 0;
  min-height: 400px;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

.columns.columns4 > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 400px;
  gap: 0;
}

@media (width <= 900px) {
  .columns.columns4 {
    max-width: none;
  }

  .columns.columns4 > div {
    flex-direction: column;
    align-items: stretch;
    min-height: unset;
    row-gap: 32px;
    justify-content: flex-start;
  }
}

.columns.columns4 > div > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1.1 1 0;
  max-width: 46vw;
  min-height: 0;
  height: 100%;
  margin-right: 2vw;
}

.columns.columns4 > div > div:first-child h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 0.03em;
  margin: 0 0 40px;
  line-height: 1.12;
}

.columns.columns4 > div > div:first-child p {
  font-size: var(--body-font-size-s);
  color: var(--dark-color);
  margin: 0;
  margin-top: 36px;
  line-height: 1.5;
  max-width: 540px;
}

.columns.columns4 > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  min-width: 260px;
  gap: 24px;
  height: 100%;
  margin-left: -3vw;
}

.columns.columns4 > div > div:last-child p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin: 0;
}

.columns.columns4 > div > div:last-child a {
  display: block;
  width: 220px;
  height: 44px;
  background: var(--background-color);
  color: var(--text-color);
  border: 1.5px solid var(--text-color);
  border-radius: 24px;
  text-align: center;
  line-height: 44px;
  font-size: var(--body-font-size-s);
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow 0.2s;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

.columns.columns4 > div > div:last-child a:first-child {
  box-shadow: 0 0 0 2px #f7f766;
}

.columns.columns4 > div > div:last-child a:focus,
.columns.columns4 > div > div:last-child a:hover {
  box-shadow: 0 0 0 3px #ccc;
}
